/*********************************************

Here is a description of any special CSS used.
In this case it's just padding and margin to 0
so the canvas is flush with the top left corner.

**********************************************/
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'VT323', monospace;
  align-items: center;
  text-align: center;
  font-size: 40px;
  color: black;
}

#userBox {
  width: 200px;
  height: 40px;
}

#chatLog {
  color: blue;
  position: relative;
}

#friendChat {
  color: red;
  position: relative;
}
